/*COLOR*/
* {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.margin-body, .content-1, .content-chair, .container-img, .container-color, .mundo-, .tec {
  margin-left: 50px;
  margin-right: 50px; }

.content-1 {
  align-items: center;
  justify-content: space-around;
  margin-top: 30px; }
  .content-1 li {
    list-style: none;
    display: inline;
    color: #2b2b2b; }
  .content-1__li3 {
    margin-left: 80%; }

.hr1 {
  height: 3px;
  background-color: #EFEFEF;
  border: none;
  margin-top: 10px;
  width: 100%; }

.div-te {
  text-align: center; }

.ul2 {
  height: 50px;
  background-color: #F7B617; }
  .ul2 li {
    color: #fff;
    padding: 35px;
    vertical-align: middle; }

.content-chair {
  background-image: url("../img/news/news-0.png");
  margin-top: 0;
  height: 400px;
  color: #fff; }
  .content-chair span {
    font-size: 30px;
    padding-top: 300px;
    vertical-align: bottom; }

.container-color {
  background-color: #2b2b2b;
  height: 50px;
  color: #fff;
  margin-bottom: 30px; }

.que {
  background-image: url("../img/news/news-1.png");
  height: 400px;
  margin-right: 0; }

.build {
  background-image: url("../img/news/news-2.png");
  height: 400px; }

.three {
  background-image: url("../img/news/news-3.png");
  height: 400px; }

/* section mundo*/
.mundo {
  margin-left: 13px;
  margin-top: 30px; }

.hrm {
  height: 3px;
  background-color: #F7B617;
  border: none;
  margin-top: 10px;
  width: 3%;
  margin-left: 13px; }

.position, .content-chair, .build, .three, .news-4, .news-5, .news-6, .news-7, .news-8, .news-9, .news-10, .news-11, .news-12, .news-13, .news-14, .news-15, .news-16, .news-17, .news-18, .news-19, .news-20, .news-21, .news-22, .news-23, .news-24, .news-25, .news-26, .news-27 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.news-4 {
  margin-left: 28px;
  background-image: url("../img/news/news-4.png");
  height: 400px; }

.news-5 {
  background-image: url("../img/news/news-5.png");
  height: 150px; }

.news-6 {
  background-image: url("../img/news/news-6.png");
  height: 150px; }

.news-7 {
  background-image: url("../img/news/news-7.png");
  height: 400px; }

.news-8 {
  background-image: url("../img/news/news-8.png");
  height: 110px;
  margin-top: 31.8%; }

.news-9 {
  background-image: url("../img/news/news-9.png");
  height: 110px; }

.divs-imgs-m {
  margin-bottom: 3%; }

.divs-imgs-m-2 {
  margin-left: 13px; }

.container-color-m {
  background-color: #2b2b2b;
  margin-top: 141.5%;
  color: #fff; }

.news-10 {
  background-image: url("../img/news/news-10.png");
  height: 110px; }

.news-11 {
  background-image: url("../img/news/news-11.png");
  height: 110px; }

.news-12 {
  background-image: url("../img/news/news-12.png");
  height: 110px; }

.news-13 {
  background-image: url("../img/news/news-13.png");
  height: 110px; }

.container-color-m-2 {
  background-color: #2b2b2b;
  margin-top: 34.5%;
  color: #fff; }

.tecno {
  margin-top: 3%;
  margin-left: 14px; }

.news-14 {
  background-image: url("../img/news/news-14.png");
  height: 350px; }

.news-15 {
  background-image: url("../img/news/news-15.png");
  height: 120px; }

.news-16 {
  background-image: url("../img/news/news-16.png");
  height: 120px; }

.news-17 {
  background-image: url("../img/news/news-17.png");
  height: 110px; }

.news-18 {
  background-image: url("../img/news/news-18.png");
  height: 110px; }

.container-img-tec {
  margin-left: 30px; }

.container-color-m-3 {
  background-color: #2b2b2b;
  margin-top: 60.6%;
  color: #fff; }

.container-color-m-4 {
  background-color: #2b2b2b;
  margin-top: 41.5%;
  color: #fff; }

.container-color-m-5 {
  background-color: #2b2b2b;
  margin-top: 17.5%;
  color: #fff; }

.news-19 {
  background-image: url("../img/news/news-19.png");
  height: 180px; }

.news-20 {
  background-image: url("../img/news/news-20.png");
  height: 180px; }

.news-21 {
  background-image: url("../img/news/news-21.png");
  height: 180px; }

.news-22 {
  background-image: url("../img/news/news-22.png");
  height: 180px; }

.container-color-m-6 {
  background-color: #2b2b2b;
  margin-top: 62.5%;
  color: #fff; }

.news-23 {
  background-image: url("../img/news/news-23.png");
  height: 180px; }

.container-color-m-7 {
  background-color: #2b2b2b;
  margin-top: 29.5%;
  color: #fff; }

.news-24 {
  background-image: url("../img/news/news-24.png");
  height: 400px; }

.news-25 {
  background-image: url("../img/news/news-25.png");
  height: 400px; }

.news-26 {
  background-image: url("../img/news/news-26.png");
  height: 400px; }

.news-27 {
  background-image: url("../img/news/news-27.png");
  height: 400px; }

.container-color-m-8 {
  background-color: #2b2b2b;
  margin-top: 148%;
  color: #fff; }

footer {
  background-color: #F7B617;
  height: 300px;
  margin-left: 80px;
  margin-right: 35px;
  color: #fff; }

/*# sourceMappingURL=main.css.map */
