/*COLOR*/
@media (min-width: 0) {
  .column-xs-1 {
    width: 8.33333%; }

  .column-xs-2 {
    width: 16.66667%; }

  .column-xs-3 {
    width: 25%; }

  .column-xs-4 {
    width: 33.33333%; }

  .column-xs-5 {
    width: 41.66667%; }

  .column-xs-6 {
    width: 50%; }

  .column-xs-7 {
    width: 58.33333%; }

  .column-xs-8 {
    width: 66.66667%; }

  .column-xs-9 {
    width: 75%; }

  .column-xs-10 {
    width: 83.33333%; }

  .column-xs-11 {
    width: 91.66667%; }

  .column-xs-12 {
    width: 100%; } }
@media (min-width: 768px) {
  .column-sm-1 {
    width: 8.33333%; }

  .column-sm-2 {
    width: 16.66667%; }

  .column-sm-3 {
    width: 25%; }

  .column-sm-4 {
    width: 33.33333%; }

  .column-sm-5 {
    width: 41.66667%; }

  .column-sm-6 {
    width: 50%; }

  .column-sm-7 {
    width: 58.33333%; }

  .column-sm-8 {
    width: 66.66667%; }

  .column-sm-9 {
    width: 75%; }

  .column-sm-10 {
    width: 83.33333%; }

  .column-sm-11 {
    width: 91.66667%; }

  .column-sm-12 {
    width: 100%; } }
@media (min-width: 992px) {
  .column-md-1 {
    width: 8.33333%; }

  .column-md-2 {
    width: 16.66667%; }

  .column-md-3 {
    width: 25%; }

  .column-md-4 {
    width: 33.33333%; }

  .column-md-5 {
    width: 41.66667%; }

  .column-md-6 {
    width: 50%; }

  .column-md-7 {
    width: 58.33333%; }

  .column-md-8 {
    width: 66.66667%; }

  .column-md-9 {
    width: 75%; }

  .column-md-10 {
    width: 83.33333%; }

  .column-md-11 {
    width: 91.66667%; }

  .column-md-12 {
    width: 100%; } }
@media (min-width: 1200px) {
  .column-lg-1 {
    width: 8.33333%; }

  .column-lg-2 {
    width: 16.66667%; }

  .column-lg-3 {
    width: 25%; }

  .column-lg-4 {
    width: 33.33333%; }

  .column-lg-5 {
    width: 41.66667%; }

  .column-lg-6 {
    width: 50%; }

  .column-lg-7 {
    width: 58.33333%; }

  .column-lg-8 {
    width: 66.66667%; }

  .column-lg-9 {
    width: 75%; }

  .column-lg-10 {
    width: 83.33333%; }

  .column-lg-11 {
    width: 91.66667%; }

  .column-lg-12 {
    width: 100%; } }
* {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.margin-body, .content-1, .content-chair, .container-img, .container-color, .mundo-, .tec {
  margin-left: 50px;
  margin-right: 50px; }

.content-1 {
  align-items: center;
  justify-content: space-around;
  margin-top: 30px; }
  .content-1 li {
    list-style: none;
    display: inline;
    color: #2b2b2b; }
  .content-1__li3 {
    margin-left: 80%; }

.hr1 {
  height: 3px;
  background-color: #EFEFEF;
  border: none;
  margin-top: 10px;
  width: 100%; }

.div-te {
  text-align: center; }

.ul2 {
  height: 50px;
  background-color: #F7B617; }
  .ul2 li {
    color: #fff;
    padding: 35px;
    vertical-align: middle; }

.content-chair {
  background-image: url("../img/news/news-0.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
  height: 400px;
  color: #fff; }
  .content-chair span {
    font-size: 30px;
    padding-top: 300px;
    vertical-align: bottom; }

.container-color {
  background-color: #2b2b2b;
  height: 50px;
  color: #fff;
  margin-bottom: 30px; }

.que {
  background-image: url("../img/news/news-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  margin-right: 0; }

.build {
  background-image: url("../img/news/news-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px; }

.three {
  background-image: url("../img/news/news-3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px; }

/* section mundo*/
.mundo {
  margin-left: 13px;
  margin-top: 30px; }

.hrm {
  height: 3px;
  background-color: #F7B617;
  border: none;
  margin-top: 10px;
  width: 3%;
  margin-left: 13px; }

.news-4 {
  margin-left: 28px;
  background-image: url("../img/news/news-4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px; }

.news-5 {
  background-image: url("../img/news/news-5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px; }

.news-6 {
  background-image: url("../img/news/news-6.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px; }

.news-7 {
  background-image: url("../img/news/news-7.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px; }

.news-8 {
  background-image: url("../img/news/news-8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px;
  margin-top: 31.8%; }

.news-9 {
  background-image: url("../img/news/news-9.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px; }

.divs-imgs-m {
  margin-bottom: 3%; }

.divs-imgs-m-2 {
  margin-left: 13px; }

.container-color-m {
  background-color: #2b2b2b;
  margin-top: 141.5%;
  color: #fff; }

.news-10 {
  background-image: url("../img/news/news-10.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px; }

.news-11 {
  background-image: url("../img/news/news-11.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px; }

.news-12 {
  background-image: url("../img/news/news-12.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px; }

.news-13 {
  background-image: url("../img/news/news-13.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px; }

.container-color-m-2 {
  background-color: #2b2b2b;
  margin-top: 34.5%;
  color: #fff; }

.tecno {
  margin-top: 3%;
  margin-left: 14px; }

.news-14 {
  background-image: url("../img/news/news-14.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px; }

.news-15 {
  background-image: url("../img/news/news-15.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px; }

.news-16 {
  background-image: url("../img/news/news-16.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px; }

.news-17 {
  background-image: url("../img/news/news-17.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px; }

.news-18 {
  background-image: url("../img/news/news-18.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px; }

.container-img-tec {
  margin-left: 30px; }

/*# sourceMappingURL=main.css.map */
