/*COLOR*/
$yellow: #F7B617;
$gray:   #2b2b2b;

$columns : 12;
$column-width : 100%/$columns;
$breakpoints : (xs : 0, sm : 768px, md : 992px, lg : 1200px );
@function column-width($column){
  @return $column-width*$column;
}
@mixin column($media, $min-width){
  @media (min-width:$min-width){
    @for $i from 1 through $columns {
      .column-#{$media}-#{$i} {
        width: column-width($i);
      }
    }
  }
}
@each $name, $width in $breakpoints {
  @include column($name, $width);
}

*{
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.margin-body{
  margin-left: 50px;
  margin-right: 50px;
}

.content-1{
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  @extend .margin-body;

  li{
    list-style: none;
    display: inline;
    color: $gray;
  }
  &__li3{
    margin-left: 80%;
  }

}

.hr1{
 height: 3px;
 background-color: #EFEFEF;
 border: none;
 margin-top: 10px;
 width: 100%;
}

.div-te{
  text-align: center;
}

.ul2{
  height: 50px;
  background-color: $yellow;
  li{
    color: #fff;
    padding: 35px;
    vertical-align: middle;

  }
}

.content-chair{
  background-image: url('../img/news/news-0.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
  height: 400px;


  @extend .margin-body;
  color: #fff;

  span{
    font-size: 30px;
    padding-top: 300px;
    vertical-align: bottom;
  }

}
.container-img{
  @extend .margin-body;
}

.container-color{
  @extend .margin-body;
  background-color: $gray;
  height: 50px;
  color: #fff;
  margin-bottom: 30px;
}
.que{
  background-image: url('../img/news/news-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  margin-right: 0;
}

.build{
  background-image: url('../img/news/news-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.three{
    background-image: url('../img/news/news-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}

/* section mundo*/
.mundo-{
  @extend .margin-body;
}

.mundo{
  margin-left:13px;
  margin-top: 30px;
}

.hrm{
  height: 3px;
  background-color: $yellow;
  border: none;
  margin-top: 10px;
  width: 3%;
  margin-left: 13px;
}

.news-4{
    margin-left: 28px;
    background-image: url('../img/news/news-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}

.news-5{
  background-image: url('../img/news/news-5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
}

.news-6{
  background-image: url('../img/news/news-6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
}

.news-7{
  background-image: url('../img/news/news-7.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.news-8{
  background-image: url('../img/news/news-8.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px;
  margin-top: 31.8%;
}

.news-9{
  background-image: url('../img/news/news-9.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px;
}

.divs-imgs-m{
  margin-bottom: 3%;
}

.divs-imgs-m-2{
  margin-left: 13px;
}

.container-color-m{
  background-color: $gray;
  margin-top: 141.5%;
  color: #fff;
}

.news-10{
  background-image: url('../img/news/news-10.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px;
}

.news-11{
  background-image: url('../img/news/news-11.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px;
}

.news-12{
  background-image: url('../img/news/news-12.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px;
}

.news-13{
  background-image: url('../img/news/news-13.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px;
}

.container-color-m-2{
  background-color: $gray;
  margin-top: 34.5%;
  color: #fff;
}


.tec{
    @extend .margin-body;
}

.tecno{
  margin-top: 3%;
  margin-left: 14px;
}

.news-14{
  background-image: url('../img/news/news-14.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
}

.news-15{
  background-image: url('../img/news/news-15.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
}
.news-16{
  background-image: url('../img/news/news-16.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
}

.news-17{
  background-image: url('../img/news/news-17.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px;
}
.news-18{
  background-image: url('../img/news/news-18.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px;
}

.container-img-tec{
  margin-left: 30px;
}
