/*COLOR*/
$yellow: #F7B617;
$gray:   #2b2b2b;


*{
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.margin-body{
  margin-left: 50px;
  margin-right: 50px;
}

.content-1{
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  @extend .margin-body;

  li{
    list-style: none;
    display: inline;
    color: $gray;
  }
  &__li3{
    margin-left: 80%;
  }

}

hr{
 height: 3px;
 background-color: #EFEFEF;
 border: none;
 margin-top: 10px;
 width: 100%;
}

.div-te{
  text-align: center;
}

.ul2{
  height: 50px;
  background-color: $yellow;
  li{
    color: #fff;
    padding: 35px;
    vertical-align: middle;

  }
}
